#grille-accueil {
    margin: auto;
    margin: 1em;
    gap: 1em;
}

#container-vide {
    display: none;
}

@media (width >=768px) {
    #grille-accueil {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 4em;
        grid-column-gap: 0.5em;
        width: 95vw;
        margin: auto;
        margin-bottom: 2em;
        z-index: 3;
    }

    #accueil-programmation {
        grid-area: 2 / 1 / 3/ 6;
    }

    #accueil-programmation::before {
        content: "";
        position: absolute;
        background-color: inherit;
        top: -3.6em;
        right: 0;
        width: 75vw;
        height: 3.7em;
        clip-path: polygon(10vw 0, 100% 0, 100% 100%, 0 100%);
    }

    #accueil-programmation::after {
        content: "";
        position: absolute;
        background-color: inherit;
        bottom: -3.6em;
        left: 0;
        width: 75vw;
        height: 3.7em;
        clip-path: polygon(0 0, 100% 0, 65vw 100%, 0 100%);
    }

    #accueil-programmation h1 {
        position: absolute;
        top: -1.5em;
        left: 50%;
    }

    #container-vide {
        display: block;
        grid-area: 3 / 1 / 4 / 2;
    }

    #accueil-partenaires {
        grid-area: 3 / 2 / 4 / 6;
    }

    #accueil-partenaires::before {
        content: "";
        position: absolute;
        background-color: inherit;
        top: -3.6em;
        right: 0;
        width: 30vw;
        height: 3.7em;
        clip-path: polygon(10vw 0, 100% 0, 100% 100%, 0 100%);
    }
}