.deroulant {
    margin-bottom: 1em;
    cursor: pointer;
}

.deroulant-visible {
    font-weight: var(--title-font-wheight);
}

.deroulant-cache {
    overflow: hidden;
    height: 0;
    margin-left: 2em;
    transition: height 0.4s linear, margin-bottom 0.4s linear;
}