.accueil-container {
    position: relative;
    background-color: var(--container-background-color);
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.accueil-container h1 {
    margin: 0 0 1em 0;
}

.border-accueil-container {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background-image: linear-gradient(to right bottom,
            rgb(var(--shadow-color)) 0%,
            transparent 50%,
            rgb(var(--shadow-color)) 100%);
}