/* bouton hamburger -------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.hamburger {
    top: 1rem;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 20;
}

.hamburger .bar {
    padding: 0;
    width: 100%;
    height: 10%;
    background-color: var(--bouton-menu-classique-color);
    display: block;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

#bar1 {
    top: 5%;
    box-shadow: var(--bouton-menu-classique-shadow);
}

#bar2,
#bar3 {
    top: 45%;
    box-shadow: var(--bouton-menu-classique-shadow-midrange);
}

#bar4 {
    bottom: 5%;
    box-shadow: var(--bouton-menu-classique-shadow);
}