:root {
    --portail-dessus-color: 181, 242, 255;
    --portail-dessus-ombre: drop-shadow(0 1em 0.3em rgba(var(--portail-dessus-color), 0.6));

    --portail-faces-color: 0, 190, 210;
    --portail-faces-filtre: brightness(1.1);
    --portail-face-arriere-degrade: linear-gradient(to bottom, rgba(var(--portail-faces-color), 0.7) 3%, rgba(var(--portail-faces-color), 0.5) 10%, rgba(var(--portail-faces-color), 0.3) 40%, rgba(var(--portail-faces-color), 0) 85%);
    --portail-face-arriere-ombre: 0px -4.5em 1em 0.4em rgba(var(--portail-faces-color), 0.3);

    --portail-face-gauche-degrade: linear-gradient(-150deg, rgb(var(--portail-faces-color), 0.6) 20%, rgba(var(--portail-faces-color), 0.4) 31%, rgba(var(--portail-faces-color), 0.2) 51%, rgba(var(--portail-faces-color), 0)90%);
    --portail-face-droite-degrade: linear-gradient(150deg, rgb(var(--portail-faces-color), 0.6) 20%, rgba(var(--portail-faces-color), 0.4) 31%, rgba(var(--portail-faces-color), 0.2) 51%, rgba(var(--portail-faces-color), 0)90%);
}

#portail {
    width: 50%;
}

#face-dessus-ombre {
    z-index: 0;
    filter: var(--portail-dessus-ombre);
}

#face-dessus {
    aspect-ratio: 4/1;
    background-color: rgb(var(--portail-dessus-color));
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

#face-arriere {
    width: 60%;
    left: 20%;
    aspect-ratio: 1/1.5;
    z-index: -1;
    background: var(--portail-face-arriere-degrade);
    box-shadow: var(--portail-face-arriere-ombre);
    filter: var(--portail-faces-filtre);
}

#face-gauche,
#face-droite {
    width: 20%;
    height: 100%;
    top: 0;
    z-index: -1;
    filter: var(--portail-faces-filtre);
}

#face-gauche {
    left: 0;
    background: var(--portail-face-gauche-degrade);
}

#face-droite {
    right: 0;
    background: var(--portail-face-droite-degrade);

}