* {
    padding: 0;
    margin: auto;
}

#accueil-entete {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    background-color: aquamarine;

}

#accueil-entete-logo {
    height: 20vh;
    z-index: 2;
}

video {
    top: -20vh;
    width: 100%;
    height: 40vh;
    z-index: 1;
}