#accueil-partenaires {
    width: 60%;
    gap: 1em
}

#grille-partenaire {
    display: grid;
    grid-template-columns: repeat(max(3), 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 0.4em;
    padding: 0.4em;
}

.logo-partenaire-accueil {
    width: 15vw;
}

@media (width >=768px) {
    #grille-partenaire {
        grid-template-columns: repeat(max(6), 1fr);
    }

    .logo-partenaire-accueil {
        width: 10vw;
    }
}