#scene {
    width: 100%;
    aspect-ratio: 1/1;
    top: 0;
    perspective: 100em;
}

#personnage {
    width: 20%;
    z-index: 1;
    top: 30%;
    left: 40%;
    animation: oscillation-personnage 10s ease-in-out infinite;
}

#caillou-1 {
    width: 3%;
    z-index: 1;
    top: 65%;
    left: 48%;
    animation: oscillation-caillou-1 5s ease-in-out infinite;
}

#caillou-2 {
    width: 1.5%;
    top: 50%;
    z-index: 0;
    left: 54%;
    animation: oscillation-caillou-2 6s ease-in-out infinite;
}

#caillou-3 {
    width: 1%;
    top: 40%;
    z-index: 0;
    left: 60%;
    animation: oscillation-caillou-3 5s ease-in-out infinite;
}

#caillou-4 {
    width: 1%;
    top: 32%;
    z-index: 0;
    left: 54%;
    animation: oscillation-caillou-4 7s ease-in-out infinite;
}

@keyframes oscillation-personnage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes oscillation-caillou-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes oscillation-caillou-2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes oscillation-caillou-3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2vh);


    }

    100% {
        transform: translateY(0);
    }
}

@keyframes oscillation-caillou-4 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1.5vh);


    }

    100% {
        transform: translateY(0);
    }
}