#footer {
    width: 100vw;
    min-height: fit-content;
    padding: 0 0 2em 0;
    text-align: center;

    >div {
        width: calc(100% / 3);
    }

    h2 {
        font-size: 1.1em;
        margin: 1.5em;
    }

    img {
        margin: 0 1em 0 1em;
        height: 2em;
    }
}