#footer {
    width: 100vw;
    min-height: fit-content;
    padding: 2em;
    margin-top: 2em;
}

#footer h2 {
    font-size: 1em;
    margin: 1.5em;
}

#social-footer img {
    margin: 0.5em;
    height: 2em;
}

#map-acces-footer {
    width: 15vw;
}