.vue-container {
    width: 95%;
    padding: 0 1em 0 1em;
    gap: 4em;

    h2 {
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 2em;
    }

    div p::first-letter {
        font-size: 1.2em;
    }

}

@media (width >=810px) {
    .vue-container p {
        margin-bottom: 4em;
    }
}