.vue-container {
    background-color: var(--vue-container-background-color);
    height: 100%;
    width: 95%;
    padding: 1em;
}

.vue-container h2 {
    margin-bottom: 2em;
    text-decoration: underline;
}

.vue-container div h3 {
    margin-bottom: 1em;
}

.vue-container div {
    margin: 1.5em 0 1.5em 0;
}

.vue-container div p::first-letter {
    font-size: 1.2em;
}

.vue-container div div {
    margin-left: 2em;
}