* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    border: 0;
}

:root {
    --main-font-color: #ffffff;
    --main-font-family: "Merriweather Sans", sans-serif;
    --main-font-size: 14px;

    --title-font-family: "Days One", sans-serif;
    --title-font-wheight: 400;

    --texte-flashy-font-family: "Orbitron", sans-serif;
    --texte-flashy-font-wheight: 600;
    --texte-flashy-font-size: 1.2em;
    --texte-flashy-text-shadow: var(--texte-flashy-text-shadow-size) var(--texte-flashy-text-shadow-size) 0 rgba(var(--shadow-color), 1),
        calc(var(--texte-flashy-text-shadow-size) * -1) var(--texte-flashy-text-shadow-size) 0 rgba(var(--shadow-color), 1),
        calc(var(--texte-flashy-text-shadow-size) * -1) calc(var(--texte-flashy-text-shadow-size) * -1) 0 rgba(var(--shadow-color), 1),
        var(--texte-flashy-text-shadow-size) calc(var(--texte-flashy-text-shadow-size) * -1) 0 rgba(var(--shadow-color), 1);
    --texte-flashy-text-shadow-size: 0.05em;

    --onglet-menu-font-size: 1.5em;
    --onglet-menu-font-wheight: 600;
    --onglet-menu-text-shadow: 0 0 0.1em rgba(var(--shadow-color), 1),
        0 0 0.25em rgba(var(--shadow-color), 0.9),
        0 0 0.5em rgba(var(--shadow-color), 0.7),
        0 0 2em rgba(var(--shadow-color), 0.5);

    --banniere-img-gradient-masque: linear-gradient(180deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 0) 90%);
    --banniere-logo-gradient-masque: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 40%, rgba(255, 255, 255, 0.2) 100%);

    --shadow-color: 40, 187, 194;
    --shadow-color-fullrange: rgba(var(--shadow-color), 0.7);
    --shadow-color-midrange: rgba(var(--shadow-color), 0.35);

    --menu-background-color: rgba(0, 0, 0, 0.8);
    --container-background-color: rgba(33, 39, 40, 1);

    --bouton-menu-circulaire-transition: transform 0.7s, scale 0.3s;
    --bouton-menu-circulaire-pointer-event: none;

    --bouton-menu-classique-color: #ffffff;
    --bouton-menu-classique-shadow: 0 0 0.2em 0.1em var(--shadow-color-fullrange);
    --bouton-menu-classique-shadow-midrange: 0 0 0.2em 0.1em var(--shadow-color-midrange);

}

body {
    background-image: url("/src/assets/images/fond-body.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    overflow-x: hidden;
}

h1,
h2 {
    font-family: var(--title-font-family);
    font-weight: var(--title-font-wheight);
}

/* suppression du style par défaut */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;
    color: var(--main-font-color);
}


/* style standard pour composants */
.flex-row,
.flex-row-responsive {
    display: flex;
    flex-direction: row;
}

.flex-column,
.flex-column-responsive {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.center {
    justify-content: center;
    align-items: center;
}

.start {
    justify-content: flex-start;
    align-items: center;
}

.end {
    justify-content: flex-end;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.space-around {
    justify-content: space-around;
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

/* Media Queries */

@media (width >=768px) {
    body {
        font-size: calc(var(--main-font-size) + 4px);
        /* Tablet */
    }
}

@media (width >=1024px) {
    body {
        font-size: calc(var(--main-font-size) + 6px);
        /* Desktop */
    }
}