* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    background-image: url("/src/assets/images/fond-body.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    /* Default for mobile */
    overflow-x: hidden;
}

h1 {
    font-family: "Kufam", sans-serif;
    font-weight: 600;
    font-size: 2em;

}

/* Personnaliser la barre de défilement (le curseur) */
body::-webkit-scrollbar {
    width: none;
}

.flex-row,
.flex-row-responsive {
    display: flex;
    flex-direction: row;
}

.flex-column,
.flex-column-responsive {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
    align-items: center;
}

.end {
    justify-content: flex-end;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
        /* Tablet */
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
        /* Desktop */
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
        /* Desktop */
    }
}