.encart-date {
    top: 0;
    left: 30vw;
    width: 40vw;
    height: 1.5em;
    z-index: 2;
    background-image: linear-gradient(to left,
            rgb(var(--shadow-color)) 0%,
            transparent 50%,
            rgb(var(--shadow-color)) 100%);
    clip-path: polygon(0 0, 100% 0, 36vw 100%, 4vw 100%);
}

.encart-date div {
    color: transparent;
    font-family: var(--texte-flashy-font-family);
    font-weight: var(--texte-flashy-font-wheight);
    font-size: var(--texte-flashy-font-size);
    -webkit-text-stroke: var(--texte-flashy-text-shadow-size) rgba(var(--shadow-color), 1);
}

.encart-date::after {
    position: absolute;
    content: "";
    top: 0;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 2px);
    background-color: rgba(15, 16, 18, 1);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, calc(36vw - 3px) 100%, calc(4vw - 3px) 100%);
}