.menu-btn-container {
    width: 1.5em;
    height: 1.5em;
    z-index: 20;
    top: 1em;
    left: 0.5em;
}

#menu-btn-ext {
    width: 100%;
    transition: var(--bouton-menu-circulaire-transition);
    pointer-events: var(--bouton-menu-circulaire-pointer-event);
}

#menu-btn-int {
    width: 74%;
    top: 13%;
    left: 13%;
    transition: var(--bouton-menu-circulaire-transition);
    pointer-events: var(--bouton-menu-circulaire-pointer-event);
}

#menu-btn-centre {
    width: 160%;
    top: -30%;
    left: -30%;
    transition: var(--bouton-menu-circulaire-transition);
    pointer-events: var(--bouton-menu-circulaire-pointer-event);
}