.background {
    z-index: -20;
    position: absolute;
    top: 0;
    left: 50%;
    width: 150vw;
    transform: translateX(-50%);
}

/* Media Queries */

@media (width >=768px) {
    .background {
        width: 120vw;
        /* Tablet */
    }
}

@media (width >=1440px) {
    .background {
        width: 100vw;
        /* Desktop */
    }
}