.background {
    z-index: -20;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 250vh;
    background-image: url("/src/assets/images/fond-body.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    transform: translateX(-50%);
}